### VS Code
export/*
.vscode/*

.haxelib/

.github/
*.code-workspace

vs_Community.exe
# Local history which shouldn't be shared.
.history
.ionide

@@ -20,6 +17,4 @@ vs_Community.exe
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

!.vscode/extensions.json

art/build_html.bat

art/build_html-debug.bat

!.vscode/extensions.json